*{
	margin:0;
	padding: 0;
}
body{ 
font-family: tahoma;
}
.narinci{
	background: #e390a7;
}
.qehveyi{
	background: #999ba8;
}
.mavi{
	background: #a4c0d7;
}
.turuncu{
	background: #e6bc79;
}
#esas{
	width:1200px;
	margin: 0 auto;
	 }
#ust_basliq{
	
	background: yellow;
	width: 1200px;
	height: 175px;
}
#menu{
	width: 1200px;
	background: white;
	height: 55px;
	
}
.menu ul{ 
margin: 0;
background: #333333;
}

.menu li{
	display:inline-block;
     color: white;
	padding: 15px 25px;
	font-family: tahoma;
	font-size: 20px;
    text-transform: uppercase;
	cursor: pointer;
	
	}

.menu li:hover{
	background: #e8280b;
}

#slider{
	width: 1200px;
	height:560px; 
	border: 1px solid red;
	box-sizing:border-box;
	
}
#bas_xeberler{
	width: 1200px;
height: 640px;
}
.bas_xeberler_sol{
	width: 570px;
	height: 610px;
	float: left;
	box-sizing:border-box;
	margin: 15px;
	
}
.bas_xeberler_sol h2 hr{
	width: 40px;
	height: 3px;
	background:#e8280b;
	margin-top: 5px;
}
.bas_xeberler_sol h2{
text-transform: uppercase;
font-weight: normal;
font-size: 20px;

}
.bas_xeberler_sol h4{
  margin-top: 25px;

}
.bas_xeberler_sol img{
	width: 572px;
	height: 325px;
	margin-top: 25px;
}
.bas_xeberler_sol p{
	margin-top: 10px;
	margin-bottom: 20px;
	color: #b5b5b5;
	text-align: justify;
}
.bas_xeberler_sol span{
	border-right:1px solid #b5b2b2;
	color: #b5b2b2;
	margin-right: 10px;
	padding: 0px 10px 0px 0px;
	font-size: 12px;
}
.bas_xeberler_sol span:last-child{
border-right:none;

}
.bas_xeberler_sol span:first-child{
text-align:left;

}

.bas_xeberler_sag{
	width: 570px;
	height: 610px;
	float: right;
	box-sizing:border-box;
	margin: 15px;
	

}
.bas_xeberler_sag hr{
	width: 40px;
	height: 3px;
	background:#689fce;
	margin:5px 0px 15px 0px;

}
.bas_xeberler_sag h2{
	text-transform: uppercase;
font-weight: normal;
font-size: 20px;

}
.bas_xeberler_bolme img{
width: 272px;
}
.bas_xeberler_bolme h5{
	margin: 5px 0px;

}
.bas_xeberler_bolme p{
	color: #b5b5b5;
	font-size: 12px;
	text-align: justify;
	margin-bottom: 5px;
}
.bas_xeberler_bolme span{
	border-right:1px solid #b5b2b2;
	color: #b5b2b2;
	margin-right: 10px;
	padding:0px 10px 0px 0px;
	font-size: 12px;
}
.bas_xeberler_bolme span:last-child{
	border-right: none;

}
.bas_xeberler_bolme span:first-child{
	text-align: left;
}

.bas_xeberler_bolme{
width: 272px;
height: 245px;
margin: 6.5px;
float: left;

}
.bas_xeberler_bolme:hover{
	box-shadow: 0px 0px 5px gray;
	background: #dcd9ec;
}

#butun_xeberler{
	width: 1200px;
	height: 310px;
	display:block;
	
}
.butun_xeberler_basliq{
width:100%;
	height: 100px;
	margin-top: 10px;


}
.butun_xeberler_basliq h4{
text-transform: uppercase;
font-weight: normal;
font-size: 20px;
margin-bottom: 10px;
padding: 0px;
}

.butun_xeberler_detal{
	width: 1200px;
	height: 210px;
}
.butun_xeberler_detal_hisse {
	width: 270px;
	height: 180px;
	box-sizing:border-box;
	margin: 15px;
	float: left;
	
}
.butun_xeberler_detal_hisse p{
position:relative;
height: 40px;
text-align: center;
box-sizing:border-box;
padding-top: 10px;
margin-top: 140px;

}
.butun_xeberler_detal_hisse img{
	position:relative;
	height: 180px;
	margin-top: -180px;
	z-index: -1;
	left:40px;
}

#xeber_kategoriyasi{
	width: 1200px;
	height: 310px;

	box-sizing:border-box;
}

.xeber_kategoriyasi_hisse{
	width: 370px;
	height: 280px;
	margin:15px;
	box-sizing:border-box;
	float: left;
	overflow: hidden;
	
	}
	.son_cox_xeberleri{
		width: 370px;
		height: 50px;
	}
.son_xeberler{
	background: #e8280b;
	width: 105px;
	height: 50px;
	box-sizing:border-box;
	float: left;
	box-shadow: 3px 0px 4px black;
	position: relative;
	z-index: 2;
	text-align: center;
	padding-top: 15px;
	
}
.cox_xeberler{
	background: #689fce;
	width: 265px;
	height: 45px;
	box-sizing:border-box;
	float: right;
	position: relative;
	z-index: 1;
	top: 5px;
	text-align: center;
	padding-top: 10px;
	transition:all .25s ease;
	}
.cox_xeberler:hover{
	height: 50px;
	background: #e8280b;
	box-shadow: 3px 0px 4px black;
position: relative;
top: 0px;
padding-top: 15px;
}

.xeber_kategoriyasi_hisse img{
	height: 220px;
	width: 370px;
}
.xeber_kategoriyasi_hisse h4{
	margin-bottom: 24px;
	text-align: center;
	text-transform: uppercase;
}

.xeber_kategoriyasi_hisse h4 hr{
width: 40px;
	height: 3px;
	background:#e8280b;
	margin-top: 10px;
	text-align: center;
	margin:10px auto;

}
.xeber_kategoriyasi_hisse p{ 
	font-size: 12px;
	text-align: justify;
	margin: 5px 0px;
	color: #6a6a6a;
}
.xeber_kategoriyasi_hisse p img{
	width:60px;
	height: 50px;
	float: left;
	margin-right: 10px;
}
.xeber_kategoriyasi_hisse p span{
	font-size: 13px;
	display:block;
	color: #464141;
	font-weight: bold;
}
#kicik_xeberler{
	width: 1200px;
height: 365px;

}

.kicik_xeberler_hisse{
	width: 370px;
	height: 335px;
	margin: 15px;
	box-sizing:border-box;
	float: left;
	overflow: hidden;
	
}
.kicik_xeberler_hisse p{
color:#b5b5b5;
text-align: justify;
font-size: 14px;
margin-bottom: 10px;
}
.kicik_xeberler_hisse span{
	color: #575353;
	display: block;
	font-size: 16px;

}
.kicik_xeberler_hisse p img{
width:60px;
	height: 50px;
	float: left;
	margin-right: 10px;
}
.kicik_xeberler_hisse img{
	width: 370px;
	margin-top: 40px;
}
#kategoriya{
	width: 1200px;
	height: 480px;
	
	box-sizing:border-box;


}
.kategoriya_hisse_boyuk{
	width:590px;
	height: 180px;
	float: left;
	background: red;
	margin: 5px;
}
.kategoriya_hisse_kicik{
	width: 290px;
	height: 180px;
	background: yellow;
	float: left;
	margin: 5px;
}
.kategoriya_hisse_boyuk p{
	margin:20px 0px 0px 0px;
	padding: 10px 20px;
	background: gray; 
	display: inline-block;
}
.kategoriya_hisse_kicik p{
	margin:20px 0px 0px 0px;
	padding: 10px 20px;
	background: gray; 
	display: inline-block;
}
#alt_hisse{
	width: 1200px;
	height: 355px;
	

}
.alt_hisse_hisse{
width: 370px;
height: 325px;
float: left;
margin: 15px;
box-sizing:border-box;
overflow: hidden;

}
.alt_hisse_hisse h4{
	text-align: center;
	text-transform: uppercase;
}
.alt_hisse_hisse h4 hr{
	width: 40px;
	height: 3px;
	background:#e8280b;
	margin-top: 10px;
	text-align: center;
	margin:10px auto;

}
.alt_hisse_hisse p{
	text-align: justify;
	display: inline-block;
	color:#8a8a8a;
font-size: 14px;
margin-bottom: 10px;
	

	 
	
}
.alt_hisse_hisse p img{
	width:60px;
	height: 50px;
	float: left;
	margin-right: 10px;
}
.alt_hisse_hisse_boyuk{
	width: 374px;
	height: 174px;
	float: left;
	
}
.alt_hisse_hisse_boyuk img{
	width: 374px;
	height: 174px;
}
.alt_hisse_hisse_kicik{
	width: 80px;
	height: 72px;
	margin:5px;
	margin-top: 10px;
	float: left;
}
.alt_hisse_hisse_kicik img{
	width: 80px;
	height: 72px;}
.alt_hisse_hisse input{
	padding: 10px 20px;
	display: block;
	margin-top: 10px;
}
.logo{
	width:100%;
	height: 75px;
background: gray;
margin-bottom: 10px;
}

#son_hisse{

	width: 1200px;
	height: 100px;
	border:1px red solid;
	box-sizing:border-box;
}